@media print {
  body {
    margin: 0;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, "Apple SD Gothic Neo", "Noto Sans KR",
               "Malgun Gothic", Arial, sans-serif;
}

.label {
  width: 99.1mm;
  height: 38.1mm;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 4mm;
  font-size: 10pt;
  display: inline-block;
}

.label .brand {
  font-weight: bold;
  font-size: 11pt;
}

.label .code {
  font-size: 9pt;
}

.label .name {
  font-size: 9pt;
  line-height: 1.2;
}

.label .meta {
  font-size: 8pt;
}

.label.large {
  width: 99.1mm;
  height: 140mm;
  font-size: 28pt;
  font-weight: bold;
  text-align: center;
  line-height: 140mm;
}
