@media print {
  body { margin: 0; }
}

.sheet {
  width: 210mm;
  display: flex;
  flex-wrap: wrap;
}

.label {
  width: 99.1mm;
  height: 38.1mm;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 3mm;
  display: flex;
  gap: 3mm;
}

.label-text {
  flex: 1;
  font-size: 8pt;
  line-height: 1.2;
}

.label-qr {
  width: 32mm;
  height: 32mm;
}
