<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>로케이션 라벨 출력</title>
  <link rel="stylesheet" href="/static/css/label_print.css">
</head>
<body>

{% for item in locations %}
  <div class="label large" style="page-break-inside: avoid;">
    
    <div class="location-text">
      {{ item.location }}
    </div>

    <img
      src="data:image/png;base64,{{ item.qr_base64 }}"
      class="location-qr"
    >

  </div>
{% endfor %}

<script>
  window.print();
</script>

</body>
</html>
